/chromedriver-win64
.env


#these files are of playwright
/.pytest_cache 
__pycache__

#another test file
linkedin.py
ps.py

#frontend -- will be deployed when build completely
# /frontend

#for custom test using jupyter notebook
/customs/try.ipynb

#I have added it here cause I generate it new everytime i run my script
jobs_data.csv
sem 2 res.pdf