playwright
selenium
flask
flask-cors
python-dotenv

# these are for validation of the data that is used or received 
pydantic
fastapi

huggingface_hub
langchain
langchain_community
langchain-huggingface